{{! Creamos nuestro formulario de chat }}
<section class="d-flex flex-column p-4">

    <form id="form-chat">
        <h3>Chat</h3>
        <input id="input-email" type="text" placeholder="@email.com" required />
        <input id="input-text" type="text" placeholder="Escribe tu mensaje" required />
        <button type="submit">Enviar</button>
        <hr />
        <div id="chat"></div>
        <hr />
    </form>

</section>